body{
    background-image: url(images/top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}
.logo:hover{
   opacity: 0.7;
   transition: 0.5s;
   cursor: pointer;
   box-shadow: 12px 12px 19px black;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.header h1{
    font-weight: bolder;
    text-shadow: 2px 2px 11px rgb(111, 111, 111);
    font-size: 45px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.header h5{
    font-size: 25px;
    margin-top: 0px;
    padding-top: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 1200px;
    margin: 40px;
    background-color: rgb(31, 62, 49);
    padding: 30px;
    border-radius: 12px;
    row-gap: 20px;
    column-gap: 20px;
    box-shadow: 7px 7px 25px rgb(58, 58, 58);
}
.items{
    border-radius: 12px;
    height: 100%;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 45px;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
}
.items:hover{
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
    font-size: 49px;
    box-shadow: 12px 12px 19px rgb(0, 0, 0);
}
#pa{
    background-image: url(images/pants.jpg);
    background-position: center;
    grid-row: 1/3;
    grid-column: 1/3;
}
#to{
    background-image: url(images/top.jpg);
    background-position: right;
    grid-row: 1/3;
    grid-column: 3/4;
}
#sh{
    background-image: url(images/shoes.jpg);
    background-position: center;
    grid-row: 3/5;
    grid-column: 1/2;
}
#ba{
    background-image: url(images/bag.jpg);
    background-position: bottom;
    grid-row: 3/5;
    grid-column: 2/4;
}
#ac{
    background-image: url(images/shades.jpg);
    background-position: left;
    writing-mode: vertical-lr;
    grid-row: 5/7;
    grid-column: 3/4;
}
#ha{
    background-image: url(images/hat.jpg);
    background-position: center;
    grid-row: 5/7;
    grid-column: 1/3;
}
footer{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
